{% extends 'base.html.twig' %}
 
{% block title %}Best Nightwish video on Youtube{% endblock %}
 
{% block body %}
 
    <h2>{{ name }}</h2>
    <div>{{ url|youtube_player|raw }}</div>
 
{% endblock %}